PORT=your_port_here
FRONTEND_URL=your_frontend_url_here
MONGO_URI=your_mongo_uri_here
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=your_jwt_expire_here
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here
MAIL_HOST=your_mail_host_here
MAIL_USER=your_mail_user_here
MAIL_PASS=your_mail_pass_here
